__pycache__/
*.py[cod]
*.pyc
*.pyo
*.pyd
*.sqlite3
*.db
*.log
*.env
.env.*

env/
venv/
.venv/
ENV/
env.bak/
venv.bak/

.vscode/

.DS_Store
Thumbs.db

.coverage
.tox/
.cache/
.pytest_cache/
.nox/

node_modules/
dist/
build/
.env.local
.env.development
.env.production

bun.lockb
yarn.lock
pnpm-lock.yaml

.vite/
